@model BangazonWeb.ViewModels.ProductTypesListViewModel

@{
  ViewData["Title"] = "New Product";
}

<h1> Add a New Product </h1>

<form asp-controller="Products" asp-action="New" method="post">
  <div class="form-horizontal">
    <h4> Product </h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger">
      <div class="form-group">
        <label asp-for="Product.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
          <input asp-for="Product.Name" class="form-control" type="text" />
          <span asp-validation-for="Product.Name" class="text-danger" />
          @Html.ValidationMessage("Product.Name")
        </div>
      </div>
      <div class="form-group">
        <label asp-for="Product.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Description" class="form-control" type="text" />
            <span asp-validation-for="Product.Description" class="text-danger" />
            @Html.ValidationMessage("Product.Description")
        </div>
      </div>
      <div class="form-group">
        <label asp-for="Product.Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Price" class="form-control" type="number" />
            <span asp-validation-for="Product.Price" class="text-danger" />
            @Html.ValidationMessage("Product.Price")
        </div>
      </div>
      <div class="form-group">
        <label asp-for="ProductTypesList" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.DropDownList("ProductTypesList")
            <span asp-validation-for="ProductTypesList" class="text-danger" />
        </div>
      </div>
      <div class="form-group">
        <label asp-for="SubProductTypesList" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.DropDownList("SubProductTypesList")
            <span asp-validation-for="Product.SubProductTypeId" class="text-danger" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Product" class="btn btn-default" />
        </div>
      </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>