@model BangazonWeb.ViewModels.ShoppingCartViewModel

@{
  ViewData["Title"] = "Shopping Cart";
}
<h1> @ViewData["Title"] </h1>
<div class="row text-right">
   @Html.DropDownList("ListOfPaymentTypes")
</div>
@foreach (var product in Model.Products)
{

  <div class="row text-left">
    <div class="col-md-4">
      <a asp-action="Single" asp-route-id="@product.ProductId">
        @Html.DisplayFor(modelItem => product.Name)
      </a>
    </div>
    <div>@Html.DisplayFor(modelItem => product.Description)</div>
    <div>@Html.DisplayFor(modelItem => product.Price)</div>
</div>
}